*, *::after, *::before {
  margin: 0px;
  padding: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.pyramid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: #f0ea19 solid 400px;
  border-left: transparent solid 266.66667px;
  border-right: transparent solid 266.66667px;
}

.hat {
  height: 150px;
  width: 70px;
  background-color: black;
  z-index: 1;
  margin-bottom: 400px;
}

.hat::after {
  width: 100px;
  height: 20px;
  background-color: black;
  margin-top: 150px;
  z-index: 2;
}

.eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100px;
  height: 50px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  border-radius: 100%;
  background-color: white;
  margin-top: 380px;
}

.pupil {
  width: 10px;
  height: 30px;
  background-color: black;
  border-radius: 100%;
}

.leanTopLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 60px;
  margin-right: 70px;
  -webkit-transform: rotateZ(-23deg);
          transform: rotateZ(-23deg);
}

.leanTopRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 60px;
  margin-right: -70px;
  -webkit-transform: rotateZ(23deg);
          transform: rotateZ(23deg);
}

.TopRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 70px;
  margin-right: -28px;
  -webkit-transform: rotateZ(8deg);
          transform: rotateZ(8deg);
}

.TopLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 70px;
  margin-right: 28px;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.leanBottomLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -60px;
  margin-right: 70px;
  -webkit-transform: rotateZ(23deg);
          transform: rotateZ(23deg);
}

.leanBottomRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -60px;
  margin-right: -70px;
  -webkit-transform: rotateZ(-23deg);
          transform: rotateZ(-23deg);
}

.BottomRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -70px;
  margin-right: -28px;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.BottomLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -70px;
  margin-right: 28px;
  -webkit-transform: rotateZ(8deg);
          transform: rotateZ(8deg);
}
/*# sourceMappingURL=style.css.map */