// 1. variables
// 2. mixins
// 2.5. centerbody
// 3. pyramid
//      a. hat
//      b. eye
//      c. bowTie
//      d. arms
//      e. legs

// variables
$pyramidHeight: 400px;

// mixins

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
// center body
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
}
body {
    @include flexCenter();
    width: 100vw;
    height: 100vh;
}
// pyramid

.pyramid {
    @include flexCenter();
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: rgb(240, 234, 25) solid $pyramidHeight;
    border-left: transparent solid $pyramidHeight/1.5;
    border-right: transparent solid $pyramidHeight/1.5;

}
// hat 


// eye

.eye {
    @include flexCenter();
    position: absolute;
    width: 100px;
    height: 50px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    border-radius: 100%;
    background-color: white;
    margin-top: $pyramidHeight - 20px;
}
.pupil {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
}