*, *::after, *::before {
  margin: 0px;
  padding: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.pyramid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: #f0ea19 solid 400px;
  border-left: transparent solid 266.66667px;
  border-right: transparent solid 266.66667px;
}

.hat {
  height: 140px;
  width: 70px;
  background-color: black;
  z-index: 1;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}

.hatRim {
  width: 110px;
  height: 40px;
  background-color: black;
  -webkit-transform: translate(-20px, 120px);
          transform: translate(-20px, 120px);
  z-index: 2;
}

.eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100px;
  height: 50px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  border-radius: 100%;
  background-color: white;
  margin-top: 380px;
}

.pupil {
  width: 10px;
  height: 30px;
  background-color: black;
  border-radius: 100%;
}

.leanTopLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 60px;
  margin-right: 70px;
  -webkit-transform: rotateZ(-23deg);
          transform: rotateZ(-23deg);
}

.leanTopRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 60px;
  margin-right: -70px;
  -webkit-transform: rotateZ(23deg);
          transform: rotateZ(23deg);
}

.TopRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 70px;
  margin-right: -28px;
  -webkit-transform: rotateZ(8deg);
          transform: rotateZ(8deg);
}

.TopLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: 70px;
  margin-right: 28px;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.leanBottomLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -60px;
  margin-right: 70px;
  -webkit-transform: rotateZ(23deg);
          transform: rotateZ(23deg);
}

.leanBottomRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -60px;
  margin-right: -70px;
  -webkit-transform: rotateZ(-23deg);
          transform: rotateZ(-23deg);
}

.BottomRight {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -70px;
  margin-right: -28px;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.BottomLeft {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: black;
  margin-bottom: -70px;
  margin-right: 28px;
  -webkit-transform: rotateZ(8deg);
          transform: rotateZ(8deg);
}

.bowTie {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: black solid 40px;
  border-right: black solid 40px;
  border-top: transparent solid 30px;
  border-bottom: transparent solid 30px;
  margin-top: 600px;
}

.leftArm {
  position: absolute;
  width: 180px;
  height: 10px;
  background-color: black;
  -webkit-transform: translate(180px, 200px);
          transform: translate(180px, 200px);
  z-index: -1;
}

.leftForeArm {
  position: absolute;
  width: 10px;
  height: 200px;
  background-color: black;
  -webkit-transform: translate(170px, -200px);
          transform: translate(170px, -200px);
}

.rightArm {
  position: absolute;
  width: 180px;
  height: 10px;
  background-color: black;
  -webkit-transform: translate(-180px, 200px);
          transform: translate(-180px, 200px);
  z-index: -1;
}

.rightForeArm {
  position: absolute;
  width: 10px;
  height: 200px;
  background-color: black;
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
}

.leftLeg {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: black;
  -webkit-transform: translate(40px, 440px);
          transform: translate(40px, 440px);
  z-index: -1;
}

.rightLeg {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: black;
  -webkit-transform: translate(-40px, 440px);
          transform: translate(-40px, 440px);
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */